name: Test coverage for main branch

on:
  push:
    branches:
      - main

jobs:
  test_and_upload_coverage:
    runs-on: ubuntu-latest
    name: Test and upload coverage
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.ref }}
          fetch-depth: 1000

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '22.21.1'
          cache: 'npm'

      - name: Run tests
        run: |
          npm i
          npm run test

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v6
        with:
          name: test-coverage-output
          path: coverage
